/* --------------------------- color palette */

:root {
--bg-color-1: #0d1326;
--bg-color-2: #050a1a;
--font-color-1: #dce7ff;
--accent-color-1: #11235fad;
--accent-color-2: #11172e;
--dark: #050a1a;
}

/* --------------------------- CSS resets */
* {
    margin: 0;
    padding: 0;
}

/* --------------------------- respects user font preferences */
html {
    font-size: 100%;
}


/* --------------------------- CSS general */
html {
    scroll-behavior: smooth;
}

header {
    padding: 4rem;
    margin-bottom: 3rem;
    /* background-color: #050a1a; */
    background: #0f1b3d;
    /* background-image: url(../images/fish.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background: linear-gradient(180deg, var(--accent-color-1) 0%, var(--accent-color-1) 50%, var(--bg-color-2) 100%);
    text-align: center;
    font-family: monospace, sans-serif;
    border-bottom: var(--bg-color-1) 32px solid;
    
}

@media (max-width: 840px) {
    .header {
        padding-left: 2rem;
    }
}

header h1 {
    font-size: 3rem;
    /* text-decoration: underline; */
    /* text-decoration-style: wavy; */
    /* text-decoration-color: var(--accent-color-1); */
}

nav {
    position: fixed;
    right: 2rem;
    top: 2rem;
    background-color: var(--bg-color-2);
}

nav a {
    text-decoration: none;
    color:#dce7ff;
    display: inline-block;
    margin: 0 1rem;
    transition: all 0.25s ease-in-out;
}

@media (max-width: 840px) {
    nav a {
        margin: 1.5rem;
    }
}

nav a:hover {
    /* background-color: #121314; */
    color: #90b3ff;
}

/* --------------------------- Styles h1 elements only */
header h1 {
    font-size: 4rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: var(--bg-color-1);
    color: var(--font-color-1);
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.5;
}

@media (max-width: 840px) {
    body {
        font-size: 1.25rem;
    }
}

@media (max-width: 640px) {
    body {
        font-size: 1rem;
    }
}

main {
    max-width: 60rem;
    margin: 1rem auto;
}

/* smallest to largest based on media query */

@media (max-width: 1080px) {
    main {
        margin: 2rem;
    }
}

@media (max-width: 840px) {
    main {
        margin: 3rem;
    }
}

@media (max-width: 640px) {
    main {
        margin: 1rem;
    }
}

.about-section {
    background: linear-gradient(0deg, var(--bg-color-1) 0%, var(--bg-color-2) 50%, var(--bg-color-2) 100%);

}

.about-section, .portfolio-section, .contact-section {
    margin-bottom: 4rem;
    
}

.about-content, .portfolio-content, .contact-content {
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem 2rem;
}

@media (max-width: 840px) {
    .about-content {
        padding: 2rem;
    }
}

@media (max-width: 680px) {
    .about-content {
        padding: 1rem;
    }
}

.about-content h2, .portfolio-content h2, .contact-content h2 {
    padding: 0.5rem 1rem;
    margin: 2rem 0;
    display: inline-block;
    border-radius: 0.25rem;
    background-color: var(--accent-color-2);
}

.portfolio-item {
    margin-bottom: 4rem;
    background-color: var(--bg-color-2);
    border-width: 0.2rem;
    border-color: #11235fad #060b21;
    border-style: solid;
    padding: 2rem;
    text-align: justify;
    border-radius: 0.25rem;
}

.portfolio-item h3 {
    margin: 1.5rem 0;
}

.portfolio-item p {
    font-size: 1.2rem;
}

@media (max-width: 840px) {
    .portfolio-item {
        padding: 2rem;
    }
}

@media (max-width: 680px) {
    .portfolio-item {
        padding: 1rem;
    }
}

.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 0.25rem;
    box-shadow: 0 0 1rem rgba(var(--bg-color-2), 0.5);
}

footer {
    background-color: var(--bg-color-2);
    padding: 1.5rem;
}

/* --------------------------- style classes */

.accent-1 {
    color:var(--accent-color-1)
}

.accent-2 {
    color:var(--accent-color-2)
}