


.title {
    font-family: monospace;
}

.square {
    background-color: rgb(52, 150, 150);
    width: 160px;
    height: 160px;
    border-radius: 10px;
    margin: 50px auto;
    transition: all 0.5s;
}

.square:hover {
    background-color: rgb(61, 209, 209);
    transform: rotate(360deg);
}

.button-div {
    text-align: center;
}

.button {
    background-color: rgb(80, 160, 133);
    color:rgb(23, 20, 70);
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.25s;
}

.button:hover {
    background-color: crimson;
    color: aliceblue;
    transform: scale(1.2);
}